{
    "token": "",
    "chat_id": "",
    "daily" : {
        "mission" : [],
        "bounty" : [],
        "combat" : [],
        "vanquish": [],
        "blade": [],
        "vanguard": [],
        "nicholas": []
    },
    "weekly": {
        "pve": [],
        "pvp": [],
        "nicholas": []
    },
    "monthly": {
        "flux": []
    }
}
